{% extends 'home/layout.html' %}

{% if post %}

    {% block title_tab %}
        Post
    {% endblock %}

    {% block title %}
        Edit post
    {% endblock %}

    {% block subtitle %}
        Need to fix your story?
    {% endblock %}

    {% block imageUrl %}
        style="background-size: cover; background-image: url('https://media.istockphoto.com/id/489556478/photo/travelling-tools.webp?b=1&s=170667a&w=0&k=20&c=h65c4pqxuaJxrMD_OcOjmyoNxZtV7uEfykKxe2D_nqM=')"
    {% endblock %}

    {% block main %}

    <form method="POST" action="{% url 'home:post-edit' post.pk %}">
        {% csrf_token %}

        {% if form.errors %}
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <div>
                    <em style="color: red;">
                        Invalid {{field}}: {{error}}
                    </em>
                </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="form-group">
          <label for="exampleFormControlInput1">Post Title</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" name="{{ form.title.name }}" value="{{ form.title.value }}" placeholder="Title goes here">
        </div>
        
        <div class="form-group">
            <label for="exampleFormControlInput3">Sub-title</label>
            <input type="text" class="form-control" id="exampleFormControlInput3" name="{{ form.subtitle.name }}" value="{{ form.subtitle.value }}" placeholder="Subtitle goes here">
        </div>

        <div class="form-group">
            <label for="exampleFormControlInput2">Image URL</label>
            <input type="text" class="form-control" id="exampleFormControlInput2" name="{{ form.imageUrl.name }}" value="{{ form.imageUrl.value }}" placeholder="https://my-image.png">

        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">Tell me your story</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" name="{{ form.content.name }}" rows="20" placeholder="Once upon a time...">{{ form.content.value }}</textarea>
        </div>


        <div class="form-group" style="margin: 20px; text-align: center;">
            <button type="submit" style="border-radius: 10px;" class="btn btn-primary" id="exampleFormControlInput3">Save changes</button>
        </div>

    </form>
    {% endblock %}

{% endif %}