{% extends 'users/layout.html' %}

{% block title_tab %}
    Register
{% endblock %}

{% block main %}

<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card text-black" style="border-radius: 25px;">

            <a href="{% url 'home:index' %}" style='font-size:20px; color: inherit;'>
              <span style='font-size:20px; position: absolute; right: 20px; top: 14px'>&#10006;</span>
            </a>

            <div class="card-body p-md-5">
              <div class="row justify-content-center">

                <!-- <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-1">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    class="img-fluid" alt="Sample image">
                </div> -->

                <div class="col-md-10 order-1 order-lg-2">
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Register</p>
                  
                  <form class="mx-1 mx-md-4" method="POST" action="">
                    {% csrf_token %}
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input name={{form.first_name.name}} type="text" id="form3Example1c" class="form-control" />
                        <label class="form-label" for="form3Example1c">First name</label>
    
                      </div>

                      <div class="form-outline flex-fill mb-0">
                        <input name={{form.last_name.name}} type="text" id="form3Example2c" class="form-control" />
                        <label class="form-label" for="form3Example2c">Last name</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input name={{form.username.name}} type="text" id="form3Example3c" class="form-control" />
                        <label class="form-label" for="form3Example3c">Username</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input name={{form.email.name}} type="email" id="form3Example4c" class="form-control" />
                        <label class="form-label" for="form3Example4c">Your Email</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input name={{form.password1.name}} type="password" id="form3Example5c" class="form-control" />
                        <label class="form-label" for="form3Example5c">Password</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input name={{form.password2.name}} type="password" id="form3Example5cd" class="form-control" />
                        <label class="form-label" for="form3Example5cd">Repeat your password</label>
                      </div>
                    </div>
  
                    <div class="form-check d-flex justify-content-center mb-5">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                      <label class="form-check-label" for="form2Example3">
                        I agree all statements in <a href="#!"  style="color: #539E8A">Terms of service</a>
                      </label>
                    </div>
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" id="register_btn" class="btn btn-lg" style="color: white; background-color: #539E8A" disabled>Register</button>
                    </div>

                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <a href="{% url 'users:login' %}" style="color: #539E8A">Already registered? Login here instead</a>
                    </div>

                    <div>
                      <em style="color:red">
                      {% if form.errors %}
  
                        {% for field, errors in form.errors.items %}
                          {% for error in errors %}
                            {{error}}
                          {% endfor %}
                        {% endfor %}
  
                      {% endif %}
                    </em>
                    </div>
  
                  </form>
  
                </div>



              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>

    const checkbox = document.getElementById("form2Example3c")
    const register_btn = document.getElementById("register_btn")

    checkbox.addEventListener('change', function() {
      if (this.checked){
        register_btn.disabled = false;
      } else {
        register_btn.disabled = true;
      }
    })

  </script>

  {% endblock %}